@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "colores";

// 
* {
    // outline: 1px dashed purple;
    transition: 0.5s;
}

html,
body {
    scroll-behavior: smooth;
}

//reset
body {
    font-size: 16px;
    box-sizing: border-box;
}

div,
main,
section,
article,
ul,
p {
    display: block;
    height: 100%;
}

div,
ul,
p {
    font-family: 'Saira Semi Condensed', sans-serif;
    letter-spacing: 1.5px;
    font-weight: light;
}

path,
svg,
g {
    height: 100%;
    width: 100%;
}

p,
div,
ul,
li {
    @extend .color-claro;
}

h1,
h2,
h3,
h4,
h5,
h6,
#jc-logo {
    font-family: 'Press Start 2P', cursive;
}

a {
    @extend .color-blanco;
}

a:hover {
    @extend .color-amarillo;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 3.5rem;
    box-shadow: 0 2px 7px rgba(255, 255, 255, 0.15);
    z-index: 10001;
    @extend .color-negro-bg;

    #menu-bars {
        cursor: pointer;

        i {
            font-size: 1.25rem;
        }
    }

    & div.logo {
        display: flex;

        #jc-logo {
            padding-left: 0;

            h6 {
                padding-left: 0;
                margin: 0;
            }
        }
    }
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: orange;
    height: 100%;
    width: 100%;
    max-width: initial;
    z-index: 10000;
    ul {
        padding: 0;
        margin: 0;
    }
    #nav {
        height: 4rem;
        display: flex;
        align-items: center;
    }
    #donaciones {
        background-color: darkgoldenrod;
        padding: 1rem;
        box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
        min-width: 20rem;
        max-width: 35rem;
        div {
            i {
                color: $blanco !important;
            }
            color: $blanco !important;
        }
        p { 
            text-align: center;
        }
        label {
            display: flex;
            flex-direction: column;
        }
    }
}

#menu ul,
#menu section,
#menu p {
    height: auto;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: $negro;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 100%;

    #inner-footer {
        display: flex;
        width: 100%;

        nav {
            padding: 0;

            ul {
                display: flex;
                list-style-type: none;
                padding: 0;
                margin: 0;

                li {
                    a {
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }

        .copyright {
            padding: 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
    }
}

.fa {
    transition: 0.1s;
}

.pointer {
    cursor: pointer;
}

.lista-about button {
    transition: border 0.25s linear;
    background-color: $negro;
    padding: 1rem;
    color: #bbb;
    cursor: pointer;
    border-top: 1px solid $oscuro;
    border-left: 1px solid $oscuro;
    border-right: 1px solid $blanco;
    border-bottom: 1px solid $blanco;
    box-sizing: border-box;
    margin-top: 1rem
}

.lista-about button:hover {
    @extend .color-amarillo;
    border-top: 1px solid $amarillo !important;
    border-left: 1px solid $amarillo !important;
    border-right: 1px solid $oscuro !important;
    border-bottom: 1px solid $oscuro !important;
}

.lista-about button:focus,
.lista-about button:active {
    @extend .color-amarillo;
    border-top: 1px solid $amarillo !important;
    border-left: 1px solid $amarillo !important;
    border-right: 1px solid $oscuro !important;
    border-bottom: 1px solid $oscuro !important;
}

#sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: auto;
    padding: 1rem;
    ul {
        position: -webkit-sticky;
        position: sticky;
        top: 4rem;
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            padding: 0;

            button {
                padding: 1rem 0;
                width: 100%;
            }
        }
    }
}

// animacion boton menu
@keyframes barras {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}

// .fa-bars,.fa-close
.fa-barcode,
.fa-align-left,
.fa-align-right,
.fa-chevron-left,
.fa-check,
.fa-chevron-right,
.fa-chevron-up,
.fa-microchip {
    animation-name: barras;
    animation-duration: 0.2s;
}

.gira-icono-menu {
    transition: 0.5s;
    -webkit-transform: rotate(450deg);
    -moz-transform: rotate(450deg);
    -ms-transform: rotate(450deg);
    -o-transform: rotate(450deg);
    transform: rotate(450deg);
}

.regresa-icono-menu {
    transition: 0.5s;
    -webkit-transform: rotate(-0deg);
    -moz-transform: rotate(-0deg);
    -ms-transform: rotate(-0deg);
    -o-transform: rotate(-0deg);
    transform: rotate(-0deg);
}

.shadow {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.35);
}

.shadow-white {
    box-shadow: 2px 2px 2px rgba(150, 150, 150, 0.25);
}

.shadow-up {
    box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.35);
}

.shadow-up-white {
    box-shadow: 2px -2px 2px rgba(150, 150, 150, 0.25);
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.text-shadow-white {
    text-shadow: 2px 2px 2px rgba(200, 200, 200, 0.25);
}

.skewed-bg {
    transform: skewX(20deg);
}

.texto-skewed {
    transform: rotate(2deg);
}

div.wpcf7 {
    text-align: left;
}

main {
    display: flex;
    flex-direction: column;
    padding-top: 3.5rem;
    padding-bottom: 3rem;
    height: 100%;
    max-width: 80rem;
    margin: 0 auto;
}

// override widgets
.textwidget {
    height: auto !important;
    padding-bottom: 0.5rem;
}

.easy_bitcoin_donate_widget_text_below {
    font-size: 0.75rem;
}
#contacto {
    padding: 1rem;
    .contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .formulario {
            div {
                margin-bottom: 0.5rem;
            }
            input,
            textarea {
                color: #FFF;
                background-color: #aaa;
                padding: 0.25rem 0.5rem;
                border: 0;
                width: 100%;
                &:focus,
                &:focus-visible,
                &:active {
                    outline: 2px solid #000 !important;
                    // border: 2px solid black !important;
                }
            }
            textarea {
                max-height: 8rem;
            }
            input[type="submit"] {
                padding: 1rem 3rem;
                width: auto;
                align-self: center;
                &:hover,
                &:active,
                &:focus {
                    background-color: #333;
                }
            }
        }
    }
}
//
@import "inicio";
@import "responsivos";