@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

//
@import "../bower_components/font-awesome/scss/font-awesome";
@import "../style_utils/scss/style_utils";
@import "colores";
//

* {
  // outline: 1px dashed purple;
}

//reset
div, main, section, article, ul, p {
  display: block;
  height: 100%;
}
div, ul, p{
  // font-family: 'Space Mono', monospace;
  font-family: 'Roboto Mono', monospace;
}
//vectores
path, svg, g {
  // border-color: purple;
  height: 100%;
  width: 100%;
}
p, div, ul, li {
  @extend .color-claro;
}
h1,h2,h3,h4,h5,h6, #jc-logo {
  font-family: 'Press Start 2P', cursive;
}
a {
  @extend .color-claro;
}
a:hover {
  @extend .color-amarillo;
}
footer {
  height: 7vh;
}
.fa {
  transition: 0.1s;
}

.p-top {
  padding-top: 10vh;//igual que header
}
.p-bottom {
  padding-bottom: 7vh;//igual que header
}
.pointer {
  cursor: pointer;
}
.lista-about p {
  color: #bbb !important;
}
.lista-about p:hover {
  @extend .color-amarillo;
}
// animacion boton menu
@keyframes barras {
  0% {opacity: 0.5;}
  50% {opacity: 1;}
  100% {opacity: 0.5;}
}
// .fa-bars,.fa-close
.fa-barcode,.fa-align-left,.fa-align-right,
.fa-chevron-left,.fa-check,.fa-chevron-right,.fa-chevron-up,
.fa-microchip {
  animation-name: barras;
  animation-duration: 0.2s;
}
.gira-icono-menu {
  transition: 0.5s;
  -webkit-transform: rotate(450deg);
  -moz-transform: rotate(450deg);
  -ms-transform: rotate(450deg);
  -o-transform: rotate(450deg);
  transform: rotate(450deg);
}
.regresa-icono-menu {
  transition: 0.5s;
  -webkit-transform: rotate(-0deg);
  -moz-transform: rotate(-0deg);
  -ms-transform: rotate(-0deg);
  -o-transform: rotate(-0deg);
  transform: rotate(-0deg);
}

.shadow {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.35);
}
.shadow-white {
  box-shadow: 2px 2px 2px rgba(150,150,150,0.25);
}
.shadow-up {
  box-shadow: 2px -2px 2px rgba(0,0,0,0.35);
}
.shadow-up-white {
  box-shadow: 2px -2px 2px rgba(150,150,150,0.25);
}
.text-shadow {
  text-shadow: 2px 2px 2px rgba(0,0,0,0.25);
}
.text-shadow-white {
  text-shadow: 2px 2px 2px rgba(200,200,200,0.25);
}
.skewed-bg{
  transform: skewX(20deg);
}
.texto-skewed {
  transform: rotate(2deg);
}

// override widgets
.textwidget {
  height: auto !important;
  @extend .p-b-0-2;
}
.easy_bitcoin_donate_widget_text_below {
  @extend .font-xxs;
}
//
// fondo inicio
$blockx: 160px;
$blocky: 160px;
$blockMaxScale: 0.97;
$animationMs: 500ms;
$backgroundColor: #000; //#E3AE03;

@keyframes go {
  0% {
    // border-radius: 15px;
    -webkit-filter: blur(0); /* Safari 6.0 - 9.0 */
    filter: blur(0);
    // -webkit-filter: hue-rotate(0deg); /* Safari 6.0 - 9.0 */
    // filter: hue-rotate(0deg);
    // transform: scale(1, 1) translate(0, 0);
  }

  100% {
    // border-radius: 5px;
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
    // -webkit-filter: hue-rotate(360deg); /* Safari 6.0 - 9.0 */
    // filter: hue-rotate(360deg);
    // transform: scale($blockMaxScale, $blockMaxScale) translate(0, 0);
  }
}

body {
  background: $backgroundColor;

  #fondo1 {
    // margin: .5em;
    overflow: hidden;
    position: fixed;
    // width: 100%;

    .block {
      width: $blockx;
      height: $blocky;
      position: absolute;
      transition: 0.2s;
      animation: go $animationMs ease infinite alternate;

    }
    .block:hover {
      @extend .color-amarillo;
    }
  }
}

// enventos
.card {
  @extend .color-amarillo-bg;
}
.vevent {
  @extend .card;
  @extend .small-12;
  @extend .color-negro;
  @extend .p-1;

  & .summary {
    @extend .color-negro;
    @extend .m-b-1;
  }
  & .description {
    @extend .color-negro;
    @extend .m-b-1;
  }
  & .event-time {
    @extend .color-negro;
    @extend .m-b-1;
  }
  & .info-link a {
    @extend .color-negro;
    @extend .m-b-1;
  }
  & .event-label {
    @extend .color-negro;
    @extend .m-b-1;
  }
}

//
@import "responsivos";
