// animacion texto inicio
@keyframes anuncio {
    0% {transform: skewX(10deg);}
    50% {transform: skewX(-10deg);}
    100% {transform: skewX(10deg);}
}
// .fa-bars,.fa-close
.skewed-bg {
  animation-name: anuncio;
  animation-duration: 30s;
  animation-iteration-count:infinite;
}
@keyframes anunciotexto {
    0% {transform: rotate(4deg);}
    50% {transform: rotate(-4deg);}
    100% {transform: rotate(4deg);}
}
// .fa-bars,.fa-close
.texto-skewed {
  animation-name: anunciotexto;
  animation-duration: 30s;
  animation-iteration-count:infinite;
}
#info {
  margin-left: 5vw
}
