##<IfModule mod_rewrite.c>
##RewriteEngine On
##RewriteBase /josecaos_xyz/
##RewriteRule ^index\.php$ - [L]
##RewriteCond %{REQUEST_FILENAME} !-f
##RewriteCond %{REQUEST_FILENAME} !-d
##RewriteRule . /josecaos_xyz/index.php [L]
##</IfModule>
