//estilos del child-theme josecaos.xyz
* {
  // border: 1px solid lightgray;
}
$altura_header: 13vh;
//
@import "layout_utils";
@import "../../bower_components/font-awesome/scss/font-awesome";
//cambio tamano off-canvas
//esto en settings.scss del Theme Parent
// $off-canvas-width: rem-calc(650);
//paleta colores fondo
.fondo_naranja_o {
  background: #703423 !important;
}
.fondo_naranja_c {
  background: #D83100 !important;
}
.fondo_verde_o {
  background: #194F32 !important;
}
.fondo_verde_c {
  background: #009847 !important;
}
.fondo_negro {
  background: #030404 !important;
}
.fondo_gris_c {
  background: #6A6766 !important;
}
.fondo_blanco {
  background: whitesmoke !important;
}
.fondo_transparente {
  background: transparent !important;
}
//colores letra
.color_naranja_o {
  color: #703423 !important;
}
.color_naranja_c {
  color: #D83100 !important;
}
.color_verde_o {
  color: #194F32 !important;
}
.color_verde_c {
  color: #009847 !important;
}
.color_negro {
  color: #030404 !important;
}
.color_gris_c {
  color: #6A6766 !important;
}
.color_blanco {
  color: whitesmoke !important;
}
//
body {
  @extend .color_gris_c;
  @extend .fondo_naranja_o;
}
header {
    height: $altura_header;
    &>#botones_header {
      &>i:hover {
        @extend .color_gris_c;
      }
    }
}
.header_offset {
  padding-top: $altura_header !important;
}
#content {
  @extend .fondo_negro;
}
.logo_texto {
  font-family: 'Press Start 2P', cursive;
  font-size: 7vmin;
  a {
    @extend .color_naranja_c;
  }
}
.menu_texto {
  font-family: 'Press Start 2P', cursive;
  @extend .fontRS;
  a {
    @extend .color_naranja_c;
  }
}
//

#menu-menu-caos {
  @extend .h_100vh;
  @extend .fondo_verde_o;
  li {
      border: 1px solid #009847;//.fondo_verde_c
      @extend .pt2;
      @extend .pb2;
      @extend .pl0;
      @extend .pr0;
    a {
      @extend .menu_texto;
      @extend .color_verde_c;
    }
  }
}
// formulario contact 7
.wpcf7-form {
  @extend .fondo_naranja_c;
  @extend .color_negro;
  p {
    @extend .pl1;
    @extend .pr1;
  }
  input, textarea {
    border: none !important;
    @extend .fondo_gris_c;
    @extend .color_naranja_c;
  }
  #offCanvasRight {
    @extend .fondo_naranja_c;
  }
  #offCanvasLeft {
    @extend .fondo_verde_o;
  }
  .wpcf7-submit {
    padding: 15px;
    width: 100%;
    @extend .color_verde_o;
  }
  .wpcf7-submit:hover {
    @extend .fondo_verde_c;
    @extend .color_gris_c;
  }
  .wpcf7-submit:active {
    @extend .fondo_naranja_o;
    @extend .color_naranja_c;
  }
}
// footer
#redes_sociales {
  a:hover,
  a:focus {
    @extend .color_naranja_c;
    transition: 1s;
  }
  li {
    display: inline-block;
  }
}
